---
export interface Props {
  title: string;
  body: string;
  img: string;
  altImg: string;
  mt?: string;
}

const { title, body, img, altImg, mt = "mt-32" } = Astro.props;
---

<article class={`${mt} px-10`}>
  <img class="mx-auto w-4/5 md:w-1/2" src={img} alt={altImg} />

  <div class="animate mx-auto my-16 max-w-2xl text-center font-burbank">
    <h3 class="text-6xl text-malibu">{title}</h3>
    <p class="mt-4 text-2xl">{body}</p>
  </div>
</article>
